html{
	height:99.6%;
	width:99.6%;
}
body{
	color:#B0B0B0;
	background-image:url('Background_Black.jpg');
	background-color:black;
	background-position:center;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
.block{
	margin:1px;
	border-style:solid;
	border-color:#404040;
}
#header{
	height:25%;
	width:100%;
	text-align:center;
}
#navBar{
	height:50px;
	width:100%;
}
#wrapper{
	height:61%;
	border-style:none;
	margin:0px;
	padding:0px;
}
#sidebar{
	width:24%;
	height:60%;
	position:absolute;
	left:1px;
	margin:0px;
	vertical-align:baseline;
}
#contentCell{
	width:74%;
	height:60%;
	margin:0px;
	position:absolute;
	right:1px;
	vertical-align:baseline;
}
#footer{
	width:100%;
	height:50px;
	text-align:center;
}
